/* FA Font */
@font-face {
    font-family: "FontAwesome";
    src: url("../public/fa-regular-400.woff") format('woff');
}


/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.scroll-block {
  overflow: hidden;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.activities {
  text-align: left;
  line-height: 2.0;
}

/* splash css */
.accent {
  color: #63ceff;
}

.accent-bg {
  background-color: #63ceff;
}

/* Modal CSS */
.dialog-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
    
.dialog-content {
  background-color: #fefefe;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  height: 600px;
  max-width: 600px;
  max-height: 80%;
  overflow: auto;
}

.dialog-buttons {
  margin: 1.4em 0;
}

/* Button CSS */
.primary-button, .secondary-button {
  border-radius: 0.5em;
  padding: 0.2em 2%;
  border: 1px solid #e4e4e4;
  cursor: pointer;
  transition: color 0.1s;
  text-align: center;
  text-decoration: none;
}

.primary-button:hover {
  background-color: #37cfff;
}

.secondary-button:hover {
  background-color: #efefef;
}

.primary-button:active, .secondary-button:active {
  color: white;
}

.primary-button b {
  font-size: 1.5em;
}

.primary-button span {
  display: inline-block;
  padding-bottom: .3em;
  padding-left: 0.75em;
  font-size: 1.2em;
}

.stats {
  margin-left: .75em;
}

fieldset.spacious {
  border: none;
  display: flex;
  justify-content: left;
  padding-left: 2.8em;
}

.activities > li:hover {
  cursor: pointer;
  color: #63ceff;
}

/* Animated Radio/Checks */
.fun-radio {
    display: none;
}

.fun-radio-label {
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  color: #444;
  padding: 16px 10px 0 0;
  margin-right: 1.6em;
}

.fun-radio-label:hover {
  color: #a4a4a4;
}

.fun-radio-label:before, .fun-radio-label:after {
  font-family: FontAwesome;
  font-size: 1.3em;
  position: absolute;
  top: 15px;
  left: -36px;
  color: #444;
  max-width: 35px;
}

.fun-radio-label:before {
  content: '\f111'; /*checkbox unchecked */
  transition: opacity 0.32s ease;
}

.fun-radio-label:after {
  content: '\f058'; /*checkbox checked*/
  max-width: 0;
  overflow: hidden;
  font-size: 1.3em;
  top: 15px;
  left: -36px;
  color: #58b38f;
  /* clip to block out any 'border bleed' */
  clip-path: circle(0%); 
 
  transition: all .4s cubic-bezier(.75,.36,.26,1.18);
}

.fun-radio:checked + .fun-radio-label:after {
  max-width: 35px;
  margin-right: 90px;
  /* clip the outside of the checkbox checked icon */
  clip-path: circle(31%); 
}

fieldset.login {
  border: none;
  display: flex;
  justify-content: center;
  padding-left: 2.8em;
}

.login > label {
  text-align: right;
  margin-right: .65em;
  width: 16em;
}

.login > input {
  width: 18;
}

.login .error {
  color: red;
  width: 14em;
  text-align: center;
}
